



a {
    color: #e9e9e9 !important;
    text-decoration: none !important;
}

#search-icon {
    background: none;
    border-color: #e9e9e9;
}

#recipe-carousel-row{
    padding: 0 16px 16px 16px;
}

.carousel {
    border-radius: 0.75rem;
    padding: 0px 16px;
}

.card{
    background: none !important;
    border: none !important;
}

.card-body{
    background-color: #e9e9e9 !important;
    border: none !important;
}

#desktop-ingredients-col {
    display: none;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@media (min-width:600px) {
    
    #desktop-ingredients-col {
        display: block !important;
        margin: "0";
        border: "0.75rem"
    }
}
