.row {
    height: 20vh;
}

.carousel {
    background-color: rgb(158, 158, 158);
    width: 100vh;
}

#desktop-ingredients-col {
    display: none;
    width: 100vw;
}


@media (min-width:600px) {
    #desktop-ingredients-col {
        display: block;
    }
}
