//navigation components css
@import 'colors';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.card{
    background: none !important;
    border: none !important;
}

.card-body{
    background-color: $primary-bg;
    border: 1px solid $primary-text !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn{
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    
}

//to have same height and width
#card-body-similar-recipe {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    height: 300px !important;
    min-width: 200px !important;
}

#similar-recipe-subtitle {
    padding: 20px 0;
}

// #navigation-col {
//     display: flex;
// }

#desktop-ingredients-col {
    display: none !important;
}

#recipe-card-info-container {
    padding: 5px;
}


p {
    padding: 5px;
}

#recipe-card-info-span {
    display: flex !important;
    flex-direction: column !important; 
    padding: 5px !important;
}

#card-body-react-slick {
    border-radius: 0.75rem;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

#react-slick-card {
    height: 211px;
}
// #card-group-meal {
//     overflow: scroll;
// }

// .slick-slide {
//     margin: 0 10px;
// }
// .slick-list {
//     margin: 0 -10px;
// }

// .slick-arrow{
//     position: absolute !important;
// }

// .slick-next {
//     right: 15px !important;
// }

// .slick-prev {
//     left: 15px !important;
// }

// .slick-track {
//     max-width: 100% !important;
//     display: flex !important;
//     justify-content: space-around;
//     gap: 16px;
// }

// .slick-prev {
//     left: 0;
// }

// .slick-next {
//     right: 0;
// }

.slick-next::before, .slick-prev::before{
    color: $primary-text !important;
}

// .slick-arrow {
//     position: absolute !important;
//     z-index: 1;
// }

#placeholder-img {
    height: 15rem;
    width: 100%;
    border-top-right-radius: 0.75rem !important;
    border-top-left-radius: 0.75rem !important;
}

#placeholder-img-glow{
    margin: 0;
    padding: 0;
    
}

#card-img-meal {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

#card-body-meal {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
    border: 1px solid $primary-text;
    width: 100%;
}
// #placeholder-card-body{
//     border-radius: 0.75rem !important;
//     border: 1px solid $primary-text;
//     width: 100%;
// }


@media (min-width:768px) {
    

    #desktop-ingredients-col {
        display: flex !important;
        position: absolute;
        margin: 0 !important;
        border: 0.75rem !important;
        right: 4px;
        top: 25vh;
        justify-content: center;
    }

    #overview_card{
        background-color: $primary-bg !important;
    }

    

    #recipe-card-info-container {
        display: flex; 
        justify-content: space-around;
    }

    #recipe-card-info-span {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
}