//navigation components css
@import 'colors';

.card{
    background: none !important;
    border: none !important;
}

.card-body{
    background-color: $primary-bg;
    border: none !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn{
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    :hover {
        color: $secondary-color;
        background-color: $primary-bg;
        border-color: $secondary-color;
    }
}

#desktop-ingredients-col {
    display: none;
}

#recipe-card-info-container {
    padding: 5px;
    
}

p {
    padding: 5px;
}
#recipe-card-info-span {
    display: flex !important;
    flex-direction: column !important; 
    padding: 5px !important;
}
#card-group-meal {
    flex-direction:row !important;
    width:100vw !important;
    overflow: scroll !important;
}

#card-meal {
    flex: 0 0 auto !important; 
    max-width: 50% !important;
    margin: 0 16px 8px 0 !important;
}

#card-img-meal {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

#card-body-meal {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
    width: 100%;
}

@media (min-width:600px) {
    
    
    #desktop-ingredients-col {
        display: block !important;
        margin: 0 !important;
        border: 0.75rem !important;
    }

    #overview_card{
        background-color: $primary-bg !important;
    }

    #recipe-card-info-container {
        display: flex; 
        justify-content: space-around;
    }

    #recipe-card-info-span {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}