// Navbar css
@import 'colors';

#navbar-row{
    height: 12vh;
}

.navbar {
    position: fixed !important;
    justify-content: space-between !important; 
    padding: 0 1rem !important; 
    margin: 16px 0 !important;
    z-index: 100;
}

.nav-link {
    display: flex !important;
}
.navbar-brand {
    color: $heading-color;
    margin: 0 !important;
}

#search-icon {
    background: none !important;
    border-color: $heading-color !important;
}