//navigation components css
@import 'colors';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.card{
    background: none !important;
    border: none !important;
}

.card-body{
    background-color: $primary-bg;
    border: 1px solid $primary-text !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn{
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    :hover {
        color: $secondary-color;
        background-color: $primary-bg;
        border-color: $secondary-color;
    }
}

#navigation-col {
    display: flex;
}

#desktop-ingredients-col {
    display: none !important;
}

#recipe-card-info-container {
    padding: 5px;
}

p {
    padding: 5px;
}

#recipe-card-info-span {
    display: flex !important;
    flex-direction: column !important; 
    padding: 5px !important;
}

#card-body-mealtype {
    border-radius: 0.75rem;
    width: max-content;
}

#card-group-meal {
    overflow: scroll;
}
.slick-slider {
    display: flex !important;
}

.slick-track {
    width: 100vw !important;
    display: flex !important;
    justify-content: space-around;
    gap: 16px;
    
}

.slick-slide {
    height: max-content !important;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-arrow {
    position: absolute !important;
    z-index: 1;
    background-color: $primary-text !important;
}

#card-meal {
    display: flex;
}

#placeholder-img {
    height: 15rem;
    width: 100%;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

#placeholder-img-glow{
    margin: 0;
    padding: 0;
}

#card-img-meal {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

#card-body-meal {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
    border: 1px solid $primary-text;
    width: 100%;
}
// #placeholder-card-body{
//     border-radius: 0.75rem !important;
//     border: 1px solid $primary-text;
//     width: 100%;
// }


@media (min-width:768px) {
    

    #desktop-ingredients-col {
        display: flex !important;
        position: absolute;
        margin: 0 !important;
        border: 0.75rem !important;
        right: 4px;
        top: 25vh;
        justify-content: center;
    }

    #overview_card{
        background-color: $primary-bg !important;
    }

    #card-meal {
        width: initial;
    }

    #recipe-card-info-container {
        display: flex; 
        justify-content: space-around;
    }

    #recipe-card-info-span {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    #similar-recipes-card-group {
        margin: 0 20vw;
    }

    #similar-recipes-subtitle {
        padding: 0 20vw;
    }

    #card-group-ingredients {
        padding: 0 20vw;
    }
    
}