#social-row {
    display: flex;
    justify-content: left;
}

#tiktok-col {
    display: flex;
    justify-content: center;
}

#tiktok-card {
    width: 100%;
}

#tiktok-card-body {
    width: 100%;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

@media (min-width:992px) {
    #tiktok-col{
        padding: 0 20vw;
    }
}
