#social-row {
    display: flex;
    justify-content: left;
}

#tiktok-col {
    display: flex;
    justify-content: center;
}

#tiktok-card {
    width: 100%;
}

#tiktok-card-body {
    width: 100%;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

@media (min-width:768px) {
    #tiktok-col{
        padding-left: 20vw;
    }
}
