
@use 'navbar';
@use 'navigation';
@use 'carousel';
@import 'colors';


//general css
.root {
    height: 100vh;
    overflow-y: auto;
}
body {
    margin: 0;
    background-color: $primary-bg !important;
    background-image: radial-gradient(
  circle at 200% 20%,
  $gradient-one 60%,
  
  $gradient-two 100%
);

}

.card, .card-body {
    max-height: 100vh !important;
    overflow-y: auto;
    margin-bottom: 8px;
    width: fit-content;
}

.h2, .h3, .h4, .h5, .h6 {
    color: $heading-color !important;
}

p {
    color: $primary-text
}

a {
    color: $primary-text !important;
    text-decoration: none !important;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



