
@use 'navbar';
@use 'navigation';
@use 'carousel' ;
@import 'colors';
@import 'social';
@import 'footer';
@import 'welcome';


//general css
.root {
    height: 100vh;
    overflow-y: auto;
    background-color: $primary-bg !important;
}

body {
    margin: 0;
}

.container-fluid {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    
}
//to add once the new layout is ready
.row {
    display: flex !important;
    justify-content: center !important;
}

.card {
    width: initial;
    background-color: $primary-bg;
    border: 1px solid $primary-text;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.h2, .h3, .h4, .h5, .h6 {
    color: $primary-text !important;
}

p {
    color: $primary-text
}

a {
    color: $primary-text !important;
    text-decoration: none !important;
}




/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



